{%extends 'awards/base.html'%}
{% load bootstrap3%}
{% load static %}

{%block content%}
{{block.super}}
<div class="container">
    <!-- <div class="jumbotron" style="height:100vh;">
        <h1> AWARDS</h1>

    </div> -->
    {%for project in projects%}
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel-group">
                <div class="panel panel_primary">
                    <div class="panel-header">
                        <p>{{project.title}}</p>
                    </div><br> 
                    <div class="panel_body">
                        <a href="{{project.project_link}}">
                            <img src="{{project.project_image.url}}" alt="" style="height: 100%;">
                        </a>
                    </div><br><br>
                    <div class="panel_footer">
                        <p>{{project.pub_date}}</p>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    {%endfor%}
</div>
{%endblock%}