{%extends 'awards/base.html'%}
{% load bootstrap3%}
{% load static %}

{%block content%}
{{block.super}}
<div class="container">
    <!-- <div class="jumbotron" style="height:100vh;">
        <h1> AWARDS</h1>

    </div> -->
    {%for project in projects%}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-header">
                        <p style="text-align:center;">{{project.title}}</p>
                    </div><br> 
                    <div class="panel-body">
                        <a href="{{project.project_link}}">
                            <img class="panel_main-image" src="{{project.project_image.url}}" alt="" >
                        </a><br><br>
                       
                        <h2  style="font-size: 30px; font-family: cursive; text-align:center;"><a href="{{project.project_link}}">View site</a></h2>
                        <br>
                        <h2 style="font-size: 30px; font-family: cursive; text-align:center;"><a href="{%url 'project' project.id%}">Review project</a></h2>
                    </div><br><br>
                    <div class="panel-footer">
                        <p>{{project.pub_date}}</p>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    {%endfor%}
</div>
{%endblock%}