{%extends 'awards/base.html'%}
{% load bootstrap3%}
{% load static %}

{%block content%}
{{block.super}}
<div class="profile">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 left">
            {%if profile.profile_pic%}
            <img class="profile-circle--medium" src="{{user.profile.profile_pic.url}}" alt="">
            {%else%}
            <img class="profile-circle--medium"src="{%static 'images/profile_placeholder.jpg%}" style="width: 200px; height: 200px;">    
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 right">
            <div class="name-buttons">
                <h1 class="username">{{user.username}}</h1>
                {%if request.user == user%}
                <a href="{%url 'edit-profile'%}">
                <button class="edit-profile">Edit profile</button>
                </a>

            </div>
            <div class="description">
                <p>{% if profile.bio %}{{ profile.bio }}{% endif %}</p>
            </div>
            
        </div>


    </div>

</div>
{%endblock%}