{%load bootstrap3%}
{%load static%}


<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title%}
        <title>Awards - {{title}}</title>
        {% else %}
        <title>Awards</title>
        {% endif%}

        {% block styles %}
            {% bootstrap_css%}
            <link rel="stylesheet" href="{%static 'css/home.css'%}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% endblock%}

    </head>
    <body>
        
        {%block content%}
        <div class="container">
            <div class="homeheaderbody">
                <div class="homeheader">
                    <h1>Welcome!</h1>
        
                </div>
                <div ><a href="/accounts/login/"><p class="login">LOGIN!</p></a></div><br><br>
                <div><a href="/accounts/register/"><p class="signup">SIGNUP!</p></a></div>
        
            </div>
        
        </div>
         
        {%endblock%}

        {% block scripts%}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <link rel="stylesheet" href="{%static 'js/awards.js'%}">
            {% bootstrap_javascript%}
        {% endblock%}

    </body>
</html>