{%load bootstrap3%}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block styles %}
    {% bootstrap_css%}
    <link rel="stylesheet" href="{%static 'css/awards.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock%}
</head>
<body>
    <nav class="navbar " style="background-color: grey;">
    <div class="container-fluid">
        {%if user.is authenticated%}
        <div class="sidebar" id="mySidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a  href="{%url 'index'%}">Home</a>
            <a href="/accounts/password/change">Change Password</a>
            <a href="/logout">Logout</a>
        {%else%}
            <a href="/accounts/login">Login</a>
            <a href="/accounts/registration">Sign Up</a>
        {%endif%}
        </div>
        <div id="container">
            <button  class="openbtn" onclick="openNav()">&#9776; Menu</button> 

        </div>
    </div>
    </nav>
{% block scripts%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{%static 'js/awards.js'%}"></script>
    
    {% bootstrap_javascript%}
{% endblock%}
</body>
</html>